<mat-drawer-container *ngIf="isLoggedIn$ | async as isLoggedIn">
  <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
    [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
    <div class="sidenav-header logo">
      <mat_card-content>
        <img mat-card-image src="../../../assets/ROCHE_LOGO_36px_RGB_DIGITAL.png" alt="logo">
      </mat_card-content>
    </div>
    <ul>
      <li routerLink="/home" routerLinkActive="isActive">
        <mat-icon [matTooltipPosition]="'right'" *ngIf="collapsedNav && !mobileQuery.matches; else fullNamePriceList"
          matTooltip="Info about the action">star</mat-icon>
        <ng-template #fullNamePriceList>
          Delivery Price List
        </ng-template>
      </li>
      <li routerLink="/create" routerLinkActive="isActive">
        <mat-icon matTooltip="Info about the action" [matTooltipPosition]="'right'" *ngIf="collapsedNav && !mobileQuery.matches; else fullName">star
        </mat-icon>
        <ng-template #fullName>
          Delivery Price Comparison
        </ng-template>
      </li>
      <li (click)="handleLogOut()">
        <mat-icon matTooltip="Info about the action" [matTooltipPosition]="'right'" *ngIf="collapsedNav && !mobileQuery.matches; else logOut">exit_to_app
        </mat-icon>
     
        <ng-template #logOut>
          Logout
        </ng-template>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
    <mat-toolbar>
      <!-- <button mat-icon-button (click)="snav.toggle()"> -->
      <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-include>
      <router-outlet ></router-outlet>
    </ng-include>
  </mat-drawer-content>
</mat-drawer-container>