/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/purple-green.css';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
}
* {
    box-sizing: border-box;
}
mat-drawer-container {
    height: 100%;
    
}

mat-drawer,
mat-drawer-content {
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.25, .8, .25, 1);
}

 mat-drawer {
    width: 250px;
    &.sidenav-collapsed {
        width: 100px;
    }
    ul {
        padding: 0;
        li {
            display: grid;
            justify-content: center;
            align-items: center;
            color: white;
            list-style: none;
            cursor: pointer;
            margin: 10px;
            padding: 10px;
            background-color: #7F7F7F;
            border-radius: 5px;
        }
    }
}

mat-drawer-content {
    transition-property: transform, margin-left, margin-right;
    &.sidenav-collapsed {
        margin-left: 100px !important;
    }
}

@media (max-width: 600px) {
    mat-toolbar {
        flex-direction: row-reverse !important;
    }
}